/*@import "fonts/fonts.css";*/
@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: vazir-FD, sans-serif;
    scroll-behavior: smooth;

}

.ts-control{
    border: none !important;
    padding: 0 !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-number-input input:focus {
    outline: none !important;
}

.custom-number-input button:focus {
    outline: none !important;
}

/*datalist {*/
/*    position: absolute;*/
/*    max-height: 20em;*/
/*    border: 0 none;*/
/*    overflow-x: hidden;*/
/*    overflow-y: auto;*/
/*}*/

/*datalist option {*/
/*    !*font-size: 0.8em;*!*/
/*    !*padding: 0.3em 1em;*!*/
/*    background-color: red !important;*/
/*    !*cursor: pointer;*!*/
/*}*/